.main {
  background-color: #708AB2;
  color: #FFFFFF;
  min-height: 100vh;
  font-family: 'Helvetica Neue';

  .navbar-toggler.toggler-example {
    cursor: pointer;
    border: none;

    span {
      display: block;
      background-color: white;
      width: 18px;
      height: 2px;
      margin-bottom: 5px;
    }
  }

  .navbar-brand {
    color: white;
    font-size: 20px;
  }

  .navbar-info {
    position: relative;

    .badge {
      position: absolute;
      right: -10px;
      top: -6px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px);

    a{
      margin-top: 30px;
      margin-bottom: 30px;

      @media (max-width: 350px) {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;

    &-item {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 350px) {
        margin: 0 15px;
      }

      img {
        margin-bottom: 5px;
      }
      span {
        color: white;
        font-size: 9px;
        text-transform: uppercase;
      }
    }
  }
}