hr {
  border: none;
  background-color: rgb(100, 100, 100);
  color: rgb(100, 100, 100);
  height: 2px;
}

.person {
  width: 40%;
}

.person__main {
  width: 70%;
  display: flex;
  align-items: center;
}

.person__img {
  margin: 20px 0 0 0;
  border-radius: 50%;
  width: 100%;
  display: block;
}

.menu__list {
  padding: 20px 0;
}

.person__img__main {
  margin: 20px 40px 0 45px;
  border-radius: 50%;
  width: 50%;
  display: block;
}

.name {
  font-size: 15px;
  margin-bottom: 0;
  text-align: center;
}

.name_main {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

.adress {
  font-size: 10px;
  text-align: center;
}

.expended-menu {
  background-color: #fff;
  width: 100%;
  left: 0;
  list-style-type: none;
  padding-left: 5px;
}

.side-menu-img {
  width: 50px;
  padding: 0 20px 0 10px;
}

.main-menu {
  min-height: 100vh;
  height: 100%;
  background-color: grey;
  left: 0;
  top: 0;
  padding: 10px 0 0 0;
  margin: 0 -15px 0 -15px;
}

.main-menu_links {
  list-style-type: none;
  padding-left: 55px;
  color: white;
}

.side-menu {
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: grey;
  /*left ?+*/
  top: 0;
  z-index: 10;
  padding: 30px 0 0 15px;
}

.menu-burger {
  position: relative;
  z-index: 100;
}

.back {
  position: relative;
  z-index: 100;
  padding: 0 45px;
}
