hr {
  border: none;
  background-color: red;
  color: red;
  height: 2px;
}
.person{
  width: 40%;
}
.person__img {
  margin: 20px 0px 0px 0px;
  border-radius: 50%;
  width: 100%;
  display: block;
}
.name {
font-size: 20px;
margin-bottom: 0%;
text-align: center;
}
.adress {
  font-size: 10px;
  text-align: center;
}
.side-menu {
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: grey;
  /*left ?+*/
  top: 0;
  z-index: 10;
  padding: 30px 0 0 15px;
}
.menu-burger {
  position: relative;
  z-index: 100;
}
